apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: ${var.app_name}-hpa
  namespace: ${var.app_namespace}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: ${var.app_name}
  minReplicas: 1
  maxReplicas: 3
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 80  # High utilization for cost savings
        